.header {
  padding: 1rem;
  background-color: var(--primary-dark);
  color: var(--text-light);
  text-align: center;
}

.nav {
  margin-top: 1rem;
}

.link {
  color: var(--text-light);
  margin-right: 1rem;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.link:hover {
  color: var(--primary-light);
  text-decoration: underline;
}
.link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #3b82f6; /* голубая линия */
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.link:hover::after {
  width: 100%;
}
