.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 12px;
  transition: box-shadow 0.3s ease;
  color: var(--text-light);
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
