:root {
  
  --primary: #083d97; 
  --primary-hover: #4338ca;
  --primary-light: #c7d2fe;
  --primary-dark: #1a355f;
  
  --card-bg: #212b3c; 
  --border: #475569;
  --text-light: #e2e8f0;
  --text-dark: #162444;
  --background: #182239;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3d3d3d;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
}
a:hover {
  text-decoration: underline;
  color: #ccc;
}
.light-theme {
  background-color:#7899e5;;
  --background: #f0f0f0;
  color:#18277d;
  --card-bg: #ffffff;
  --text-light: #162e67;
  min-height: 100vh;
  --primary: #1c2d4b;
}

.dark-theme {
  background-color:#182239;;
  color:#d9ddf3;
  --card-bg: #1e293b;
  --text-light: #e2e8f0;
  --primary: #3b82f6;
  min-height: 100vh;
}

/* index.css */





body {
  background-color: var(--background);
  color: var(--text-light);
  transition: all 0.3s ease;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #222222;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #bfddf9;
    background-color: #4d6a97;;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
